.container {
    margin-top: 15%;
    background-color: #c9c9c9;
    box-shadow: 0 2px 5px rgba(0,0,0,.25), 0 0 16px rgba(0,0,0,.22);
    border-radius: 35px;
    padding: 45px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 25%;
    font-size: large;
    align-items: center;
}

h1 {
    margin-top: 15px;
    color: #0c528c;
    text-align: center;
}
